<button
  class="btn btn-primary d-md-none mobile-toggle-btn"
  (click)="toggleMobileMenu()"
>
  <i class="bi bi-list"></i>
</button>

<div
  class="sidebar-overlay"
  [class.show]="isMobileMenuOpen"
  (click)="toggleMobileMenu()"
></div>

<aside class="sidebar" [class.mobile-open]="isMobileMenuOpen">
  <div class="logo">
    <div class="logo-icon">B</div>
    <span class="logo-text">Sidebar</span>
    <i
      class="bi bi-x-lg d-md-none ms-auto close-icon"
      (click)="toggleMobileMenu()"
    ></i>
  </div>

  <ul class="menu">
    <li
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-house"></i>
      <span>Dashboard</span>
    </li>
    <li
      routerLink="/add-new-product"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-bag-plus-fill"></i>
       <span>Add New Product</span>
    </li>

    <li
      routerLink="/add-new-product-with-modal"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-plus-square"></i>
       <span>Add New Product M</span>
    </li>
    <li routerLink="/form" routerLinkActive="active">
      <i class="bi bi-ui-radios"></i>
      <span>Form</span>
    </li>

    <li routerLink="/gallery" routerLinkActive="active">
      <i class="bi bi-grid"></i>
      <span>Gallary</span>
    </li>

    <li routerLink="/masonary-gallery" routerLinkActive="active">
<i class="bi bi-images"></i>      <span>Masonary Gallery</span>
    </li>

    <li routerLink="/product-showCase" routerLinkActive="active">
      <i class="bi bi-box"></i>
      <span>Product Showcase</span>
    </li>

  </ul>

  <div class="sidebar-footer">
    <img src="../../../assets/images/Abanoub.jpg" alt="user" />
    <span class="user-info">
      <div class="fw-bold">Abanoub</div>
      <small class="text-muted">Admin</small>
    </span>
  </div>
</aside>
